.cat-card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 130px;
    background-color: rgb(5, 56, 107);
    color: rgb(245, 238, 225);
    border-radius: 12px;
    box-shadow: 3px 4px 6px rgb(106, 105, 105);
    transition: 0.6s;
    font-size: 26px;
    cursor: pointer;
}
.cat-card p{
    width: 90%;
    text-align: center;
}
.cat-card:hover{
    width: 135px;
    height: 135px;
    box-shadow: 3px 4px 10px rgb(106, 105, 105);
    font-size: 27px;
}