.QuizPage{
    position: relative;
    width: 100%;
    background-color: rgb(245, 238, 225);
    min-height: 100vh;
}
.grid-menu{
    width: 80%;
    min-height: 80%;
    margin: 0 auto;
    padding: 0 0 50px 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,1fr);
    column-gap: 10px;
    row-gap: 10px;

}
.QuizPage .questions-page{
    text-align: center;
}
.QuizPage .questions-page .finish-btn{
    padding: 10px 40px;
    margin-bottom: 20px;
    font-size: 24px;
    background-color: rgb(31, 16, 46);
    color: #fff;
    transition: 0.9s;
    border-radius: 10px;
    cursor: pointer;
}

.QuizPage .questions-page .finish-btn:hover{
    background-color: rgb(255, 150, 51);
}

@media only screen and (max-width: 1100px){
    .grid-menu{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(8,1fr);
    }
}
@media only screen and (max-width:800px){
    .grid-menu{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(12,1fr);
    }
}
@media only screen and (max-width:450px){
    .grid-menu{
        width: 70%;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(24,1fr);
    }
}