.QuizPage{
    position: relative;
    width: 100%;
    background-color: rgb(245, 238, 225);
}
.grid{
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,1fr);
    row-gap: 10px;
    column-gap: 10px;

}