.head{
    width: 100%;
    height: 120px;
}
.head .logo{
    background-image: url('../../images/logo-small.png');
    width: 270px;
    height: 110px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.head .logo .title{
    cursor: pointer;
    color: rgb(245, 238, 225);
    text-align: center;
}
@media only screen and (min-width: 2300px){
    .head{
        height: 190px;
    }
    .head .logo{
        width: 500px;
        height: 190px;
        background-image: url('../../images//Path-4.png');
    }
    .head .logo .title{
        font-size: 60px;
    }
}
@media only screen and (min-width: 3200px){
    .head{
        height: 300px;
    }
    .head .logo{
        width: 800px;
        height: 300px;
        background-image: url('../../images//Path-5.png');
    }
    .head .logo .title{
        font-size: 90px;
    }
}