.head{
    width: 100%;
    height: 120px;
}
.head .logo{
    background-image: url('../../images/logo-small.png');
    width: 270px;
    height: 110px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.logo .title{
    color: rgb(245, 238, 225);
    text-align: center;
}