.question{
    max-width: 900px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin: 30px auto;
}
.question h3{
    padding: 10px 0 10px 25px;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(39, 68, 228); /* rgb(39, 68, 228) */  /* rgb(39, 68, 228) */
}
.question h2{
    width: 100%;
    padding: 10px 0 0 10px;
}
.question .btns{
    display: flex;
    align-items: center;
    flex-flow: column;
    width: 100%;
    padding: 50px 0 10px 0;
}
.question .btns button{
    width: 100%;
    margin: 1px auto;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 700;
    color:#fff;
    background-color: rgb(31, 16, 46);
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    outline: none;
}
 .question .btns button:hover{
     background-color: rgb(255, 150, 51);
    }
.question .btns button.active {
        background-color: rgb(255, 150, 51);
 }
 .question .btns button.correct{
     background-color: rgb(148, 228, 1);
 }

@media only screen and (min-width: 2100px){
    .question{
        max-width: 1300px;
    }
    .question h3{
        font-size: 32px;
    }
    .question h2{
        font-size: 28px;
    }
    .question .btns button{
        font-size: 26px;
    }
}

@media only screen and (min-width: 2560px){
    .question{
        max-width: 1300px;
    }
    .question h3{
        font-size: 36px;
    }
    .question h2{
        font-size: 32px;
    }
    .question .btns button{
        font-size: 30px;
    }
}
@media only screen and (min-width: 3000px){
    .question{
        max-width: 1500px;
    }
    .question h3{
        font-size: 42px;
    }
    .question h2{
        font-size: 38px;
    }
    .question .btns button{
        font-size: 36px;
    }
}
@media only screen and (min-width: 3300px){
    .question{
        max-width: 1600px;
    }
    .question h3{
        font-size: 48px;
    }
    .question h2{
        font-size: 44px;
    }
    .question .btns button{
        font-size: 42px;
    }
}
@media only screen and (min-width: 3500px){
    .question{
        max-width: 1700px;
    }
    .question h3{
        font-size: 54px;
    }
    .question h2{
        font-size: 50px;
    }
    .question .btns button{
        font-size: 48px;
    }
}